@font-face {
    font-family: "Proxima Nova Condensed Regular";
    src: url("../fonts/Proxima\ Nova\ Extra\ Condensed\ Regular.otf") format("opentype");
    }
.container{
    background-color: #454F53;
    padding-left: 70px;
    padding-top: 150px;
    padding-right: 70px;
    padding-bottom: 110px;
    /* border-top:150px solid #454F53;
    border-right:70px solid #454F53;
    border-left:70px solid #454F53; */


}   
.section{
    border-left: 2px solid #E8EBED;
    margin-left: 67px;

}
.oop{
    box-shadow: 3px 3px 50px 7px #000000;
    background-color:#fff;
}
.text{
    max-height:515px;
    max-width: 850px;
    padding-top:200px;
}
.article_authors-name{
    margin-left:55px;
    text-transform: uppercase;
    font-size:40px;
    font-family:"Proxima Nova Condensed Regular";
    color: #B5B5B5;
    letter-spacing: 5px;
    margin-bottom: 40px;
}
.article_heading{
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 100px;
    letter-spacing: 2px;
    margin-top: 0;
    margin-left:55px;
    margin-bottom: 0;
}
.article_main-questions{
    margin-left:55px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 38px;
    color:#8F8F8F;
    margin-top: 0;
}
.paragraphs{
    margin-left:55px;
    font-size: 35px;
    max-width:970px;

}

