@font-face {
    font-family: "Proxima Nova Condensed Regular";
    src: url("../fonts/Proxima\ Nova\ Extra\ Condensed\ Regular.otf") format("opentype");
    }
    body{
        position: relative;
        overflow-x:hidden;
    }
.container{
    background-color: #454F53;
    padding-left: 70px;
    padding-top: 150px;
    padding-right: 70px;
    padding-bottom: 110px;
    /* border-top:150px solid #454F53;
    border-right:70px solid #454F53;
    border-left:70px solid #454F53; */


}   
.section{
    border-left: 2px solid #E8EBED;
    margin-left: 67px;

}
.oop{
    box-shadow: 3px 3px 50px 7px #000000;
    background-color:#fff;
}
.text{
    max-height:515px;
    max-width: 850px;
    padding-top:200px;
}
.article_authors-name{
    margin-left:55px;
    text-transform: uppercase;
    font-size:40px;
    font-family:"Proxima Nova Condensed Regular";
    color: #B5B5B5;
    letter-spacing: 5px;
    margin-bottom: 40px;
}
.article_heading{
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 100px;
    letter-spacing: 2px;
    margin-top: 0;
    margin-left:55px;
    margin-bottom: 0;
}
.article_main-questions{
    margin-left:55px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 38px;
    color:#8F8F8F;
    margin-top: 0;
}
.paragraphs{
    margin-left:55px;
    font-size: 35px;
    max-width:970px;

}
.form{
    background-color:#000;
    color:#fff;
    height: 180px;
    padding-top: 50px;
}
.form_label{
    display: block;
    font-size: 15px;
    text-transform: uppercase;
    color:#8F8F8F;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 4px;
    margin-left: 65px;
    font-family:"Proxima Nova Condensed Regular";
    
}
.input_text{
    display: block;
    width:100%;
    font-size: 40px;
    background-color: #000;
    box-sizing: border-box;
    color:#fff;
    border:none;
    margin-top: 10px;
    font-family: 'Playfair Display', serif;
    outline: none;
    border-bottom:2px solid #303030;
    padding-bottom: 15px;
}
.input_text::placeholder{
    color:#fff;
    font-size: 40px;
    font-family: 'Playfair Display', serif;
}
.position{
    position: absolute;
    margin-top: -125px;
    margin-left: 283px;
    width:1200px;
}
.icon-bar .fa {
    float: left;
    width: 10%;
    text-align: center;
    padding: 13px 0;
    transition: all 0.3s ease;
    color: #8F8F8F;
    font-size: 36px;
    margin-left: 10px;
  }
.fa:hover{
    color:white;
}
.icon-bar {
    width: 100%;
    background-color: #FBC02D;
    overflow: auto;
    margin-left: 100px;
  }